<div class="container"  style="padding-top: 50px;">
    <div class="col-sm-4">
      <h4>Edit Profile</h4>
      <div id="errorMesssage">
      </div>
    </div>
</div>
<div class="container">
  <form class="form-horizontal" role="form" action="/user/update/<%= user.id %>" method="POST" id="updateForm">
    <div class="form-group">
      <div class="col-sm-4">
        <input type="text" class="form-control" value="<%= user.firstname %>" name="firstname"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">          
        <input type="text" class="form-control" value="<%= user.lastname %>" name="lastname"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <textarea type= "text" class="form-control" rows="5" name="desc"><%= user.desc %></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <input type="email" class="form-control" value="<%= user.email %>" name="email"/>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">          
        <input type="text" class="form-control" value="<%= user.password %>" name="password"/>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-4">
        <input type="submit" value="Update" id="updateButton" class="btn btn-sm btn-primary btn-block"/>
      </div>
    </div>
  </form>
</div>

<script>
$("#updateButton").on("click", function (evt) {
  // override default method of button which is post method/to submit the form
  evt.preventDefault(); 
  var param = {};

  var send_data = $("#updateForm").serializeArray();
  for(var i=0; i < send_data.length; i++) {
    var record = send_data[i];
    param[record.name] = record.value;
  }
  console.log(param);
  var result = $.ajax({
    method: "PUT",
    type: "JSON",
    url: "/user/update/<%= user.id %>",
    data: param,
    success: function(response) {
      if (response.error) {
        //alert(response.message)
        $("#errorMesssage").html(response.message).show();
      } else {
        window.location = "/user";
      }
    },
    error: function(response) {
      console.log("Error");
    }
  });
});
</script>
